<div id="about">
  
  <div class="row">
    <div class="container">
      <h3>Pity The Fool</h3>
      <h5>Who's Learning To Code</h5>
      <hr>
    </div>
  </div>
  
  
  <div class="row">
    <div class="container">
        
    <div class="column1">
      <div class="card">
        <img src="https://i.imgur.com/uVzJ3jo.jpg" alt="Max Armstrong" style="width:100%">
        <h3>Max Armstrong</h3>
        <p class="title">Start-Up Coding Fool</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
      
      
    <div class="column2">
      <div class="card">
        <h3>About Me</h3>
        <p>I was born under a hash tag, and I've been down ever since I began to code.  If it wasn't for bad code, I wouldn't have any code at all.  Broken links and infinite loops are my only friend, and I've been on my own ever since I migrated with python zen.  I got a D- in C+, and my doctor says I got the heartbleed virus.  Coffee or tea is all I crave, but if you ask me about Java then just put me in my grave.  I was born under a hash tag, and I've been down ever since I began to code.</p>
      </div>
    </div>
      
  
    </div>
  </div>
  
  <div class="row">
    <div class="container">
      <h3>In Action</h3>
      <hr>
    </div>
  </div>
  
   <div class="row">
    <div class="container">
   
    	<div class="column1">
        <div class="card">
          <img src="https://i.imgur.com/yiCzu31.jpg" alt="Warming-Up" style="width:100%">
          <p class="title">Warming Up To Code</p>
        </div>
    	</div>

     	<div class="column1">
        <div class="card">
          <img src="https://i.imgur.com/6OncH3E.jpg" alt="Reviewing Code" style="width:100%">
          <p class="title">Reviewing Code</p>
        </div>
    	</div>
      
      <div class="column1">
        <div class="card">
          <img src="https://i.imgur.com/ikTdnEJ.png" alt="Refactoring Code" style="width:100%">
          <p class="title">Refactoring Code</p>
        </div>
    	</div>

    </div>
  </div>
  
</div>