    <div class="main">
      <div class = "jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <h2>"I'm a tough guy when I have to be, tender when I should be.  When you find a really tough guy, he's not a predator.  He doesn't have to prove himself.  Guys who have to pretend to be tough, they ain't.  I'm tough." - Mr. T</h2>
          </div>
        </div>
        <div class="row">
          <a href="#" class="btn">Pity the fool!</a>
          </div>
        </div>
      </div>
    </div>