/* Three columns side by side */
#about .column1 {
  	display: table-cell;
    float: left;
    width: 33.3%;
  	height: 60 px;
    margin-bottom: 16px;
    padding: 0 8px;
}

#about .column1 h3, .column1 p {
    	text-align: center;
}

#about .column2 {
  	display: table-cell;
    float: left;
    width: 66.6%;
  	height: 60px;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
#about .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
#about .container {
  	display: table;
    padding: 0 16px;
}

/* Clear floats */
#about .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

#about .title {
    color: grey;
}

#about .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

#about .button:hover {
    color: #000;
  	background: #FFD700;
  	transition: background .5s;
}