.header {
  background-color: #FFF;
  min-height: 80px;
}

.header img {
  margin: 0 0 0 0;
  overflow: auto;
}

.header img:hover {
  opacity: 0.5;
}

.header h1 {
  text-align: right;
  font-size: 40px;
  color: #FFD700;
}

.menu {
  background: #000;
  min-height: 40px;
}

.menu ul.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

.menu ul.nav li {
  display: inline-block;
  width: 60px;
  height: 40px;
  line-height: 40px;
  margin: 0 20;
  padding: 0 10;
  text-align: center;
}

.menu ul.nav li:hover a:hover, .menu ul.nav li.active {
  color: #000;
  background: #FFD700;
}

.menu ul.nav li a {
  color: #fff;
  margin: 0;
  padding: 0;
}

.menu ul.nav li a:hover {
  background: transparent;
}

.main {
  background: url("http://images6.fanpop.com/image/photos/36800000/Mr-T-mrt-36834304-1163-860.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;
}

.main h2 {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: #FFF;
  margin-top: 250px;
  padding: 15px;
}

.main h4 {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  color: #FFF;
  padding-top: 10px;
}

.main .btn {
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
  color: #000;
  text-decoration: none;
  margin: 10px 15px;
}

.main .btn:hover {
  color: #000;
  background: #FFD700;
  cursor: pointer;
  transition: background .5s;
}

.footer {
  background-color: #FFF;
  height: 90px;
  text-align: right;
  width: 100%;
}

.footer .social_media {
  margin: 20px 0px;
  width: 100%;
}

.social_media li {
  display: inline;
  height: 20px;
  width: 20px;
  margin: 50 50;
  text-align: center;
}

.social_media li a {
  display: inline-block;
  height: 30px;
  width: 30px;
}

/* Style all font awesome icons */
.fa {
  padding: 5px;
  font-size: 20px;
  height: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Github */
.fa-github {
  background: #3B5998;
  color: white;
}

/* Google + */
.fa-google-plus {
  background: #dd4b39;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
}

/* LinkedIn */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* YouTube */
.fa-youtube {
  background: #bb0000;
  color: white;
}
