<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/welcome.css.css">
   <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/portfolio.css.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-10 col-md-11">
            <h1>reallytoughguy</h1>
          </div>
          <div class="col-xs-2 col-md-1">
            <img src="https://emojipedia-us.s3.amazonaws.com/thumbs/120/facebook/65/flexed-biceps_1f4aa.png" height="60">
          </div>
        </div>
      </div>
    </div>
    
    <div class="menu">
      <div class="container">
        <ul class="nav">
          <li><a href="#">Pity</a></li>
          <li><a href="#">The Fool</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </header>
  
<%= yield %>
  
<footer>
<div class="footer">
  <div class="container">
    <ul class="social_media">
      <li><a href="#" class="fa fa-facebook"></a></li>
      <li><a href="#" class="fa fa-github"></a></li>
      <li><a href="#" class="fa fa-google-plus"></a></li>
      <li><a href="#" class="fa fa-instagram"></a></li>
      <li><a href="#" class="fa fa-linkedin"></a></li>
      <li><a href="#" class="fa fa-twitter"></a></li>
      <li><a href="#" class="fa fa-youtube"></a></li>
    </ul> 
    <p>&copy; 2018 reallytoughguy</p>
  </div>
</div>   
</footer>

</body>
</html>
